asgiref==3.3.4
beautifulsoup4==4.9.3
celsius-python-sdk==1.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
DateTime==4.3
Django==3.2.3
Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
multitasking==0.0.9
numpy==1.20.2
pandas==1.2.4
pillow==8.2.0
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.15
sqlparse==0.4.1
tk==0.1.0
twilio==6.59.0
urllib3==1.26.4
Werkzeug==2.0.1
WTForms==2.3.3
yfinance==0.1.59
zope.interface==5.4.0
